$color_01: #6C2DBE;
$color_02: #AB4445;
$color_03: #11775A;
$color_04: #00994D;
$color_05: #26A3D9;
$color_06: #CD427E;
$color_07: #F1994B;
$color_08: #914CEB;
$color_09: #0DA074;
$color_10: #EA5757;
$color_11: #D4D4D4;
$color_12: #C79579;
$color_13: #FF6D7F;
$color_14: #FFB45B;
$color_15: #F7E740;
$color_16: #59E56D;
$color_17: #53A9FD;
$color_18: #AF92FB;
$color_19: #1B1B1D;
$color_20: #1C1C1D;
$color_21: #252526;
$color_22: #303136;
$color_23: #494A50;
$color_24: #A2A2A2;
$color_25: #FDFDFD;
