$tty0_content_font: 'Noto Sans JP', sans-serif;
$tty0_monspace_font: 'Fira Code', monospace;

$tty0_background_primary: rgb(34, 34, 34);
$tty0_background_secondary: rgb(54, 54, 54);


$tty0_forground_primary: rgb(239, 239, 239);
$tty0_forground_secondary: rgb(196, 196, 196);

$tty0_link_colour: rgb(119, 104, 174);

$tty0_code_background: rgb(25, 25, 25);


$tty0_accent_1: rgb(173, 104, 104);
$tty0_accent_2: rgb(104, 136, 173);
$tty0_accent_3: rgb(173, 119, 86);
$tty0_accent_4: rgb(104, 173, 100);
$tty0_accent_5: rgb(137, 86, 173);

$tty0_grey_1: rgb(74, 74, 74);
