<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{{ config.description }}">

		<link rel="me" href="https://chaos.social/@lethalbit">
		<link rel="me" href="https://vt.social/@lethalbit">
		<link rel="me" href="https://gensoukyou.jp.net/@lethalbit">
		<link rel="me" href="https://twitter.com/lethalbit">
		<link rel="me" href="https://github.com/lethalbit">


		{% block css %}
			<link rel="stylesheet" href="{{ get_url(path="site.css", trailing_slash=false) | safe }}?{{ get_hash(path="site.css", sha_type=256, base64=true) | safe }}">
		{% endblock css %}

		{% block rss %}
			<link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}" title="{{ config.title }} - Latest Posts">
		{% endblock %}

		{% block twitter_card %}
			<meta name="twitter:card" content="sumary_large_image" >
			<meta name="twitter:creator" content="https://twitter.com/lethalbit" >
			<meta name="twitter:title" content="{{ config.title | safe }}" >
			<meta name="twitter:description" content="{{ config.description | safe }}">
		{% endblock twitter_card %}

		<title>{{ config.title }}{% block title %}{% endblock title %}</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="color-block">
				<div class="color color1"></div>
				<div class="color color2"></div>
				<div class="color color3"></div>
				<div class="color color4"></div>
				<div class="color color5"></div>
				<div class="color color6"></div>
			</div>
			<header>
				<h1><a class="title-link rainbow-wheel" href="{{ config.base_url }}">{{ config.title }}</a></h1>
				<span class="nav-spacer"></span>
				<span class="link-container">
					{# <a href="{{ config.base_url | safe }}/projects" class="">Projects</a> #}
					<a href="{{ config.base_url | safe }}/posts" class="">Blog</a>
					<a href="{{ config.base_url | safe }}/notes" class="">Lab Notebook</a>
					<a href="{{ config.base_url | safe}}/friends" class="">Friends</a>
				</span>
			</header>
			<hr class="seperator" />
			<main>
				{% block content %}
				<article class="">
					{{ section.content | safe }}
				</article>
				{% endblock content %}
			</main>
			<footer>
				<div class="color-block">
					<div class="color color1"></div>
					<div class="color color2"></div>
					<div class="color color3"></div>
					<div class="color color4"></div>
					<div class="color color5"></div>
					<div class="color color6"></div>
				</div>
				<span class="link-container">
					{% if config.extra.menus %}
						{% for menu_item in config.extra.menus %}
							<a target="_blank" href="{{ menu_item.url | replace(from="$BASE_URL", to=config.base_url) | safe }}" class="">{{ menu_item.name }}</a>
						{% endfor %}
					{% endif %}
				</span>
			</footer>
		</div>
	</body>

	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6" defer></script>
	<script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-svg.js" defer></script>

</html>
