{% extends "index.html" %}
{% block title %} | {{ page.title }}{% endblock title %}
{% block twitter_card %}
	<meta name="twitter:card" content="summary_large_image" >
	<meta name="twitter:creator" content="https://twitter.com/lethalbit" >
	<meta name="twitter:title" content="{{ page.title | safe }} {{ config.title | safe }}" >
	{% if page.extra.description %}
	<meta name="twitter:description" content="{{ page.extra.description | safe}}">
	{% endif %}
	{% if page.extra.banner_img %}
	<meta name="twitter:image" content="{{ get_url(path=page.extra.banner_img) | safe }}">
	{% endif %}
{% endblock twitter_card %}

{% block content %}
<article class="note">

	<div class="article-title">
		<h2>{{ page.title }}</h2>
	</div>
	<div class="article-content">
		{{ page.content | safe }}
	</div>

</article>
{% endblock content %}
