{% extends "index.html" %}
{% block title %} | Blog{% endblock title %}
{% block content %}

<p>These are more formal writings than what is in my <a href="{{ get_url(path="notes") | safe }}" title="Aki's lab notebook" >Lab Notes</a>. It isn't updated very often as a result.</p>

{% if paginator.pages %}
<h2>Posts
	<span class="svg-icon">
		<a href="{{ get_url(path="posts/atom.xml") | safe }}" title="Aki's Blog Feed">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="48px" height="48px"><path d="M0 0h24v24H0V0z" fill="none"/><circle cx="6.18" cy="17.82" r="2.18"/><path d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z"/></svg>
		</a>
	</span>
</h2>
{% for page in paginator.pages %}
	<div class="blog-item">
		<span class="date rainbow-wheel">{{ page.date | date(timezone="America/Los_Angeles", format="%Y-%m-%d") | safe }}</span>
		<span class="title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></span>
	</div>
{% endfor %}
{% else %}
	<span class="rainbow-wheel big-center ">No posts (yet)</span>
{% endif %}
<nav class="pagination"></nav>
    {% if paginator.previous %}
        <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
    {% endif %}
    {% if paginator.next %}
        <a class="next" href="{{ paginator.next }}">Next ›</a>
    {% endif %}
</nav>
{% endblock content %}
